.padding_top_50 {
  padding-top: 50px;
}

.padding_btm_50 {
  padding-bottom: 50px;
}

.padding_top_25 {
  padding-top: 25px;
}

.padding_btm_25 {
  padding-bottom: 25px;
}

.padding_r_25 {
  padding-right: 25px;
}

.nopadding {
   padding: 0 ;
   margin: 0 ;
}

.margin_btm_30 {
  margin-bottom: 30px;
}

.container_50 {
  width: 50%;
  margin: auto;
}

.container_65 {
  width: 65%;
  margin: auto;
}

body {
  font-family: 'Roboto', sans-serif;
  min-width: 635px;
}

.header_top {
  height: 80px;
  width: 100%;
  line-height: 80px;
}


.jumbo {
  /* height: 500px; */
  min-width: 496px;
  background-image: url(https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.logo_digital-ocean img {
  width: 170px;
  height: auto;
}

.header_nav ul li a {
  text-decoration: none;
  color: inherit;
}

.h1_section {
  color: white;

}

.jumbo_form {
  max-width: 455px;
  height: 400px;
  margin: 60px auto;
  background-color: white;
}

/* fine header */
/* inizio main */

#partners_logo {
  background-color: #F4F5F9;
  /* height: 280px; */
  width: 100%;
}

#partners_logo h5 {
  font-size: 14px;
  color: #939EB5;
  letter-spacing: 0.7px;
}

#partners_logo a {
  color: #287bfe;
  font-weight: 500;
}

#partners_logo .logo_wrapper {
  line-height: 160px;
  text-align: left;
}

#partners_logo .col-xs-6 img {
  max-height: 130px;
  max-width: 240.8px;
  margin-right: 25px;
}

#partners_logo .col-sm-12 img {
  max-height: 45.56px;
  max-width: 110.47px;
  margin-right: 20px;
}


/* sezione deploy scale */
#deploy_scale ul {
    border-left: 2px solid #CCCCCC;
}
#deploy_scale ul li {
  padding-left: 5px;
  color: #979FB3;
  font-size: 18px;
  line-height: 45px;

}

  .deploy_scale_box {
    min-height: 230px;
    margin-bottom: 15px;
  }

.deploy_scale_box h3 {
  font-size: 18px;
  font-weight: 500;
  color: #031b4e;
}
.deploy_scale_box p {

  color: #031b4e;
}





@media screen and (max-width: 768px) {
  .h1_section h1 {
    font-size: 30px;
  }

  #partners_logo img:last-child {
    margin-right: 0;
  }

  #partners_logo .logo_wrapper {
    line-height: 160px;
    text-align: left;
  }

  #deploy_scale .container_50 {
    width: 90%;
    margin: auto;
  }

  .h2_section  h2 {
    font-size: 40px;
  }

  .h2_section p {
    font-size: 30px;
  }


  .deploy_scale_box h3 {
    font-size: 16px;
    font-weight: 500;
    color: #031b4e;
}


/* md */
@media screen and (min-width: 768px) {
  .h1_section h1 {
    font-size: 43px;
  }

  #partners_logo img:last-child {
    margin-right: 0;
  }

  #partners_logo .logo_wrapper {
    line-height: 160px;
    text-align: left;
  }

  #deploy_scale .container_50 {
    width: 90%;
    margin: auto;
  }
}



@media screen and (min-width: 1200px) {
  .h1_section h1 {
    font-size: 62px;
  }

  #partners_logo img {
    max-height: 77.95px;
    max-width: 156.56px;
    margin-right: 25px;
  }
  #partners_logo img:last-child {
    margin-right: 0;
  }

  #deploy_scale .container_50 {
    width: 65%;
    margin: auto;
  }
}
