
/* .row.no-gutters {
  margin-right: 0;
  margin-left: 0;
} */
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}
.no_pad {
  padding: 0;
}

.padding_top_50 {
  padding-top: 50px;
}

.padding_btm_50 {
  padding-bottom: 50px;
}

.padding_top_25 {
  padding-top: 25px;
}

.padding_btm_15 {
  padding-bottom: 15px;
}

.padding_r_25 {
  padding-right: 25px;
}

.padding_l_85 {
  padding-left: 85px;
}

.nopadding {
   padding: 0 ;
   margin: 0 ;
}

.margin_btm_30 {
  margin-bottom: 30px;
}

.container_50 {
  width: 50%;
  margin: auto;
}

.container_65 {
  width: 65%;
  margin: auto;
}

hr  {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  min-width: 500px;
}

a:hover {
  text-decoration: none;
}

.header_top {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  line-height: 80px;
  background-color: white;
  z-index: 3;
}

.scroll_menu {
  font-size: 20px;
  position: absolute;
  right: 20px;
  top: 0;
  color: #579AFF;

}

.header_top .btn {
  color: #287bfe;
  border-color: #287bfe;
}

.header_top .btn:hover {
  background-color: #287bfe;
  color: white;
}

.header_top ul li {
  color: #3f547a;
}

.header_top ul li a {
  font-size: 16px;
  font-weight: 500;
}

.header_top ul li a:hover {
  color: #287bfe;
}

.header_top ul li a i {
  font-size: 20px;
  vertical-align: middle;
}

.logo_digital-ocean img {
  width: 170px;
  height: auto;
  position: absolute;
  top: 50%;
  transform: translateY(68%);
}

.header_nav ul li a {
  text-decoration: none;
  color: inherit;
}

.jumbo {
  /* height: 500px; */
  margin-top: 80px;
  min-width: 496px;
  background-image: url(https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.h1_section {
  padding-top: 80px;
  color: white;
}

.h1_section p {
  font-size: 19px;
  color: rgba(255, 255, 255, 0.6);
  line-height: 30px;
  font-weight: 500;
}

.jumbo_form {
  max-width: 455px;
  height: 400px;
  margin: 60px auto;
  background-color: white;
}

.jumbo_form {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 15px;
  border-radius: 5px;
}

.jumbo_form input {
  display: block;
  /* margin-bottom: 5px; */
  width: 90%;
  height: 45px;
  border-radius: 3px;
  border: 1px solid #F2F2F2;
  margin: 10px auto 5px;
  padding-left: 5px;
  font-size: 16px;
  font-weight:
}

.jumbo_form h3 {
  margin-top: 5px;
  color: #287bfe;
  font-size: 30px;
}

.jumbo_form button {
  display: block;
  width: 90%;
  margin: 10px auto 5px;
}

.jumbo_form .btn_blue {
  background-color: #579AFF;
  color: white;
}

.jumbo_form .btn_blue:hover {
  background-color: #0C4AFF;
}

.jumbo_form .btn_google {
  position: relative;
  color: #676767;
  font-weight: 500;
  -webkit-box-shadow: 7px 7px 3px -5px rgba(224,224,224,0.63);
  -moz-box-shadow: 7px 7px 3px -5px rgba(224,224,224,0.63);
   box-shadow: 7px 7px 3px -5px rgba(224,224,224,0.63);
}

.jumbo_form .btn_google:hover {
  background-color: rgba(224,224,224,0.63);
}

.jumbo_form .btn_google img {
  width: 5%;
  position: absolute;
  left: 5px;
}

.jumbo_form small a {
  display: inline-block;
  margin-top: 5px;
  text-decoration: underline;
  color: #287bfe;
}
/* fine header */
/* inizio main */

#partners_logo {
  background-color: #F4F5F9;
  width: 100%;
}

#partners_logo h5 {
  font-size: 14px;
  color: #939EB5;
  letter-spacing: 0.7px;
}

#partners_logo a {
  color: #287bfe;
  font-weight: 500;
  font-size: 16px;
}

#partners_logo .logo_wrapper {
  line-height: 160px;
  text-align: left;
}

.loghi {
  display: inline-block;
}

.loghi img {
  width: calc((100% / 6) - 20px);
}

/* sezione deploy scale */

#designed_for_dev {
  background-color: #F4F5F9;
  padding-bottom: 70px;
}


#deploy_scale ul {
    border-left: 2px solid #CCCCCC;
}
#deploy_scale ul li {
  padding-left: 5px;
  color: #979FB3;
  font-size: 18px;
  line-height: 45px;
}

.h2_section {
  /* padding-top: 50px; */
  /* padding-bottom: 60px; */
}

.h2_section  h2 {
  color: #031b4e;
  padding-bottom: 25px;
}

.h2_section p {
  color: #5F6D8B;
  font-size: 15px;
}

/* .features_box  {
  min-height: 170px;
  padding: 0px 12px 0;
  margin-bottom: 15px;
} */

.features_box  h3 {
  font-size: 18px;
  font-weight: 500;
  color: #031b4e;
}
.features_box p {
  font-size: 16px;
  color: #979FB3;
}

.features_box a {
  color: #277AFF;
  font-size: 16px;
}

/* .screenshot_wrapper .glyphicon {
  position: absolute;
  /* transform: translateY(-50%); */

/* .screenshot_wrapper span {
  transform: translateY(150%);
  font-size: 30px;
  color: #031b4e;
} */

.screenshot_text p {
  color: #031b4e;
  font-weight: 500;
}

.screenshot_text i {
  color: #287bfe;
 font-size: 12px;
}

/* SEZIONE SPEED-TEST */

#test_speed {
  background: rgb(37,40,119);
  background: linear-gradient(0deg, rgba(37,40,119,1) 0%, rgba(34,44,231,1) 100%);
  padding-bottom: 60px;
}

/* #test_speed .row .col-xs-6 .row {
  border-bottom: 1px solid white;
} */


#test_speed h2,
#test_speed p {
  color: white;
  margin: 10px 0 10px;
}

#test_speed .col-xs-7 p {
  color: rgba(255, 255, 255, 0.6);
}

#test_speed a {
  display: inline-block;
  margin: 10px 0 10px;
  color: #00d7d2;

}

#test_speed a:hover {
  color: rgba(34,44,231,1);
}

.small_arrow {
  margin-left: 5px;
}

/* SEZIONE ROCKERBOX */
#rockerbox {
  background-color: #F4F5F9;
}

.rockerbox_wrapper {
  background-color: white;
  padding: 70px 0 70px;
  margin-bottom: 30px;
  position: relative;
}

.rockerbox_wrapper p {
  font-size: 22px;
  color: #5F6D8B;
  margin-top: 20px;
}

.rockerbox_wrapper small {
  font-size: 16px;
  color: #031b4e;
}

.rockerbox_wrapper a {
  display: block;
  font-weight: 500;
  color: #287bfe;
  margin-top: 30px;
  font-size: 16px;
}

.rockerbox_wrapper::before,
.rockerbox_wrapper::after {
   font-family: "Font Awesome 5 Free";
   padding-right: 3px;
   font-weight: 900;
   font-size: 40px;

   position: absolute;
}
.rockerbox_wrapper::before {
  content: "\f104";
  left: 0;
  top: 50%;
  transform: translate(-170%, -50%);
}
.rockerbox_wrapper::after {
   content: "\f105";
   right: 0;
   top: 50%;
   transform: translate(170%, -50%);
}

/* SEZIONE GET STARTED */

#get_started {
  background: rgb(37,40,119);
background: linear-gradient(0deg, rgba(37,40,119,1) 0%, rgba(34,44,231,1) 100%);
}

#get_started h2 {
  color: white;
}

#get_started a {
  color: #287bfe;
  background-color: white;
  font-size: 18px;
  padding: 8px 14px;
  font-weight: 500;
}

#get_started a:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

/* footer [class*="col-"] {
  background-color: blue;
  border: 1px solid;
  height: 400px;
} */

footer {
  background-color: #021C4E;
}


footer div:first-child span {
  display: block;
  margin-top: 7px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
}

footer div:first-child small {
  display: block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.3);
  font-size: 15px;
  margin-bottom: 7px;
}

footer ul li a i {
  font-size: 22px;
  color: rgba(255, 255, 255, 0.4);
}

footer ul li a i:hover {
  color: white;
}

footer h5 {
  color: rgba(255, 255, 255);
  font-size: 20px;
}

footer ul li {
  margin-bottom: 7px;
}
footer ul li a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 15px;
}

footer ul li a:hover {
  color: white;
}














/* MEDIA QUERIES */

@media screen and (max-width: 767px) {

  .padding_l_85 {
    padding: 15px;
  }
  .h1_section h1 {
    font-size: 39px;
  }

  .jumbo_form {
    margin-top: 0;
  }

  .loghi img {
    width: calc((100% / 2) - 90px);
  }


  .margin_right_30 {
    margin-right: 30px;
  }

  #deploy_scale .container_50 {
    width: 90%;
    margin: auto;
  }

  .h2_section  h2 {
    font-size: 38px;
  }

  .h2_section p {
    font-size: 26px;
    padding: 0px 45px 0;
  }

  #designed_for_dev .h2_section {
  margin-bottom: 140px;
}

  #designed_for_dev .h2_section p {
    margin-top: 25px;
    font-size: 23px;
    padding: 0;

  }

  /* #designed_for_dev {
    background-color: #F4F5F9;
  } */

  .features_box {
    min-height: 100px;
    width: 100%;
  }

  #features .features_box {
    padding-left: 15px;
    padding-right: 15px;
  }
  .features_box  h3 {
    font-size: 16px;
    font-weight: 500;
    color: #031b4e;
  }

  .features_box p {
    font-size: 16px;
  }

  .screenshot_wrapper {
    margin-top: 80px;
  }


  .screenshot_wrapper img {
    width: 350px;
    height: auto;
    margin: 0 20px 20px;
  }

  .screenshot_text {
    padding: 0 65px 0;
  }


  .screenshot_text p {
    margin-bottom: 100px;
    font-size: 18px;
  }

  .features_box_pad {
    padding-bottom: 25px;
  }

  #test_speed .row .col-xs-12:first-child {
    margin-bottom: 30px;
  }

  .rockerbox_wrapper {
    width: 300px;
    padding: 50px 0 50px;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
  }

  footer ul {
    margin-bottom: 20px;
  }

}

/* md */
@media screen and (min-width: 768px) {
  .h1_section h1 {
   font-size: 37px;
  }

  /* #deploy_scale .container_50 {
    width: 90%;
    margin: auto;
  } */

  .h2_section  h2 {
    font-size: 35px;
  }

  .h2_section p {
    font-size: 23px;
  }

  /* #designed_for_dev {
    background-color: #F4F5F9;
  } */

  .features_box {
    min-height: 222px;
    padding: 0 17px 0;
  }

 #deploy_scale .features_box {
  min-height: 235px;
  padding: 0 17px 0;
  max-width: 221px;
 }

 #deploy_scale .h2_section h2 {
   padding-bottom: 0;
 }

 .padding_l_85 {
   padding-left: 70px;
 }

  .features_box h3 {
    font-size: 18px;
  }

  .screenshot_wrapper img {
    width: 400px;
    height: auto;
    margin: 120px 20px 20px;
  }

  .screenshot_text p {
    margin-bottom: 50px;
  }

  .screenshot_wrapper span {
    transform: translateY(150%);
    font-size: 30px;
    color: #031b4e;
  }

  #test_speed .row .col-sm-12:first-child {
    margin-bottom: 30px;
  }

  .rockerbox_wrapper {
    width: 380px;
    padding: 50px 0 50px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }

  .jumbo_form {
    width: 280px;
    height: 420px;
    margin: 60px auto;
    background-color: white;
  }



}



@media screen and (min-width: 1200px) {
  .h1_section h1 {
    font-size: 62px;
  }

  .screenshot_wrapper img {
    width: 600px;
    height: auto;
    margin: 0 20px 20px;
  }

  .screenshot_text p {
    margin-bottom: 5px;
    font-size: 16px;
}
  .features_box {
   min-height: 170px;
   padding: 0 22px 0;
}

.rockerbox_wrapper {
  width: 600px;
  padding: 70px 0 70px;
  margin-left: auto;
  margin-right: auto;
}

.jumbo_form {
    width: 455px;
    height: 400px;
    margin: 60px auto;
}

#designed_for_dev .h2_section {
  margin-bottom: 70px;
}

#deploy_scale .features_box {
  min-height: 200px;
  padding: 0 37px 0;
  max-width: 500px;
}

}
